:host{
  margin: 1rem 0;
  display: block;
  width: 48%
}

mat-card{

  mat-card-header{
    padding: 8px 16px;
  }

  img{
    aspect-ratio: 16 / 6;
    object-fit: cover;
  }

  mat-card-content{
    padding: 1rem;
  }

  .product-quantity{
    font-size: 1.5rem;
    display: flex;
    gap: 4%;

    button{
      font-size: inherit;
      padding: 0 .75rem;
    }

    input{
      font-size: inherit;
      width: 100%;
      padding: .3rem .5rem;
    }
  }
}


@media screen and ( width < 700px ){
  :host{
    width: 100%;
  }
}