<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ productName }}</mat-card-title>
    <mat-card-subtitle>Calories: {{ productCalories }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ productImage }}" alt="">
  <mat-card-content>
    <div class="product-quantity">
      <button (click)="sendProductToMenu( )" >+</button>
      <input type="number" name="quantityField" id="quantityField" value="1" min="1" [(ngModel)]="quantityInputValue">
    </div>
  </mat-card-content>
</mat-card>