
button.close-modal-btn{
  border: inherit;
  cursor: pointer;
  border-radius: .3rem;
  padding: .3rem .6rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  position: absolute;
  top: .75rem;
  right: 1rem;
}